@font-face {
  font-family: NorseBold;
  src: url(Norse-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

.signup {
  height: 100vh;
  width: 100%;
  display: flex;
}

/* Aside */

.signup aside {
  flex-basis: 40%;
  min-width: 40%;
  position: relative;
  background-image: url(bg.jpg);
  background-position-x: 35%;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-wrap {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-wrap img {
  max-width: 100%;
  min-width: 20%;
}

aside * {
  color: white;
}

aside h1 {
  font-family: NorseBold;
  font-size: 5rem;
}

aside img {
  width: 20%;
}

aside span {
  position: absolute;
  width: 100%;
  bottom: 2%;
  text-align: center;
  font-size: 0.7rem;
}

/* Main section */

.signup main {
  flex-grow: 1;
  background-color: #f9fafb;
}

main > div {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 150px 150px 20px 80px;
}

div p {
  margin-bottom: 20px;
}

/* Form */
form {
  appearance: none;
  border: none;
}

form > div {
  padding: 20px 80px;
  background-color: #fff;
}

form ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

form ul li {
  flex-basis: 50%;
}

form legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

form label {
  width: 100%;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4c5050;
}
