@font-face {
  font-family: NorseBold;
  src: url(Norse-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

.signup {
  height: 100vh;
  width: 100%;
  display: flex;
}

/* Aside */

.signup aside {
  flex-basis: 40%;
  min-width: 40%;
  min-height: 100vh;
  position: relative;
  background-image: url(bg.jpg);
  background-position-x: 35%;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-wrap {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-wrap img {
  max-width: 100%;
  min-width: 20%;
}

aside * {
  color: white;
}

aside h1 {
  font-family: NorseBold;
  font-size: 5rem;
}

aside img {
  width: 20%;
}

aside span {
  position: absolute;
  width: 100%;
  bottom: 2%;
  text-align: center;
  font-size: 0.7rem;
}

/* Main section */

.signup main {
  flex-grow: 1;
  background-color: #f9fafb;
}

main > div {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 150px 150px 20px 50px;
}

div p {
  margin-bottom: 20px;
}

/* Form */
form {
  appearance: none;
  border: none;
}

.form-inputs {
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 3px 2px #ddd;
}

form ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

form ul li {
  flex-basis: 50%;
  margin-bottom: 20px;
}

form legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

form label {
  width: 100%;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4c5050;
}

input {
  outline: none;
  border: 1px solid #e5e7eb;
  padding: 5px;
  border-radius: 5px;
}

input:focus {
  border: 1px solid rgb(68, 68, 227);
  box-shadow: 0 0px 2px rgb(68, 68, 227);
}

input.error {
  border: 1px solid red;
  box-shadow: 0 0px 2px red;
}

input.correct {
  border: 1px solid green;
  box-shadow: 0 0px 2px green;
}

li span {
  display: inline-block;
  width: 100%;
  color: red;
}

/* Button */

.form-button {
  padding: 30px 50px;
}

button[type='submit'] {
  padding: 15px 45px;
  border-radius: 5px;
  border: none;
  background-color: #596d48;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-button span {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  font-size: 0.9rem;
  font-weight: bold;
}

.form-button span a {
  color: #596d48;
  text-decoration: none;
}
