@font-face {
  font-family: NorseBold;
  src: url(Norse-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: sans-serif;
}

.signup {
  height: 100vh;
  width: 100%;
  display: flex;
}

/* Aside */

.signup aside {
  flex-basis: 40%;
  min-width: 40%;
  position: relative;
  background-image: url(bg.jpg);
  background-position-x: 35%;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-wrap {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

aside * {
  color: white;
}

aside h1 {
  font-family: NorseBold;
  font-size: 5rem;
}

aside img {
  width: 20%;
}

aside span {
  position: absolute;
  width: 100%;
  bottom: 2%;
  text-align: center;
  font-size: 0.7rem;
}

/* Main section */

.signup main {
  flex-grow: 1;
}

main div {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 150px 80px 20px 80px;
}

div p {
  margin-bottom: 20px;
}
